//古典色调
 $black = #333333 //墨黑
 $white = #fffef9 //雪白
 $grey = #80766e //雁灰
 $grey1 = #dad4cb //铅灰
 $red = #ec2b24 //棠红
 $red1 = #ef3473 //品红
 $orange = #f97d1c //橘橙
 $yellow = #f28e16 //杏黄
 $yellow1 = #fbb929 //鹅黄
 $green = #1ba784 //竹绿
 $green1 = #20a162 //翠绿
 $blue = #1677b3 //天蓝
 $cyan = #2376b7 //花青
 $cyan1 = #5cb3cc //碧青
 $violet = #5d3131 //貂紫
 $violet1 = #8a2be2 //檀紫
 $pink = #f2b9b2 //桃粉
 $pink1 = #eea2a4 //牡丹粉
 $brown = #5c1e19 //栗棕
 $tan = #5d3d21 //茶褐